                                                                @* Адмін панель*@
@using MyCompany.Service;
@model IQueryable<ServiceItem>
@{
    string strTitle = "Панель адміністратора";
    ViewBag.Title = strTitle;
}

    <header id="header">
        <a asp-area="" asp-controller="Home" asp-action="Index" class="logo">@Config.CompanyName</a>
    </header>
    <div id="main">
        <div>
            @*----------------------------------------------------------------------------------------*@
            <a asp-area="Admin" asp-controller="ServiceItems" asp-action="Redirect">Редагувати Курси</a><br />
            <a asp-area="Admin" asp-controller="MainServiceItems" asp-action="Redirect">Редагувати пости новин</a>
            @*Тут можна створити ще один контроллер і через нього добавити пункт щоб редагувати на головній сторінці ОПИС ПРО ШКОЛУ*@
            <div class="div-box">
                <h3>Редагувати сторінки сайту</h3>
                <a asp-area="Admin" asp-controller="TextFields" asp-action="Edit" asp-route-codeWord="PageIndex">Головна</a><br />
                <a asp-area="Admin" asp-controller="TextFields" asp-action="Edit" asp-route-codeWord="PageServices">Курси</a><br />
                <a asp-area="Admin" asp-controller="TextFields" asp-action="Edit" asp-route-codeWord="PageContacts">Контакти</a><br />
            </div>
            <div class="div-box">
                <form asp-area="" asp-controller="Account" asp-action="Logout" method="post">
                    <input type="submit" value="Вийти" />
                </form>
            </div>
        </div>
    </div>

