@model TextField
@{
    ViewBag.Title = Model.MetaTitle;
    ViewBag.Description = Model.MetaDescription;
    ViewBag.Keywords = Model.MetaKeyWord;
}
@await Html.PartialAsync("IntroPartial")

<nav id="nav">
    <ul class="links">
        <li><a asp-area="" asp-controller="Home" asp-action="Index">Головна сторінка</a></li>
        <li><a asp-area="" asp-controller="Services" asp-action="Index" asp-route-id="">Курси</a></li>
        <li><a asp-area="" asp-controller="MainServices" asp-action="Index">Новини</a></li>
        <li class="active"><a asp-area="" asp-controller="Home" asp-action="Contacts">Контакти</a></li>
    </ul>
    <ul class="icons">
        @await Html.PartialAsync("SocialButtons")
        @*<li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>*@
    </ul>
</nav>

<div id="main">
    <div class="align-center">
        @Html.Raw(Model.Text)
    </div>
</div>