@*-----------------------------------------------Вкладка головна*@
@model IQueryable<ServiceItem>
@{
    TextField textField = ViewBag.TextField;

    ViewBag.Title = textField.MetaTitle;
    ViewBag.Description = textField.MetaDescription;
    ViewBag.Keywords = textField.MetaKeyWord;
}
@await Html.PartialAsync("IntroPartial")
<nav id="nav">
    <ul class="links">
        <li class="active"><a asp-area="" asp-controller="Home" asp-action="Index">Головна сторінка</a></li>
        <li><a asp-area="" asp-controller="Services" asp-action="Index" asp-route-id="">Курси</a></li>
        <li><a asp-area="" asp-controller="Home" asp-action="Contacts">Контакти</a></li>
    </ul>
    <ul class="icons">
        @await Html.PartialAsync("SocialButtons")
    </ul>
</nav>

<div id="main">
    @*----------------------------------------------------------------------------------------------------------*@
    <article class="post featured">
        <header class="major">
            <h2>
                <a href="">
                    @Config.CompanyName
                </a>
            </h2>
            <p>
                Vasilenko Law School - це проект, місія якого зробити юридичну освіту якісною та корисною.
                Школа орієнтована на адвокатів та юристів з досвідом роботи.
                У школі представлено сім найбільш актуальних курсів, які були обрані та розроблені за результатами опитувань адвокатів.
            </p>
        </header>
        <a href="#" class="image main"><img src="images/pic01.jpg" alt="" /></a>
        <ul class="actions special">
            <li><a href="#" class="button large">Детальніше</a></li>
            <li>
                
            </li>
        </ul>
    </article>
    <h3>Перевірка</h3>
    @*await Html.PartialAsync("MainPostsPartial")*@
    @*-----------------------------------------------------------------------------------------------------------*@

    <!-- Posts (СПИСОК КУРСІВ)-->
    @await Html.PartialAsync("PostsPartial")


</div>
<!-- Footer -->
@await Html.PartialAsync("SendFormPartial")
@* В самій формі в панелі адміністратора потім прописати код що вище
    <div>
        Html.Raw(Model.Text) @*З методом Raw потрібно бути обережним бо він екранує всі символи
    </div>
*@
