@model DataContact
@{
    
}
<header id="header">
    <a asp-area="" asp-controller="Home" asp-action="Index" class="logo">@Config.CompanyName</a>
</header>
<nav id="nav">
    <ul class="links">
        <li><a asp-area="" asp-controller="Home" asp-action="Index">Головна сторінка</a></li>
        <li><a asp-area="" asp-controller="Services" asp-action="Index" asp-route-id="">Курси</a></li>
        <li><a asp-area="" asp-controller="MainServices" asp-action="Index">Новини</a></li>
        <li><a asp-area="" asp-controller="Home" asp-action="Contacts">Контакти</a></li>
    </ul>
    <ul class="icons">
        @await Html.PartialAsync("SocialButtons")
    </ul>
</nav>

<div id="main">
    <div class="align-center">
        Консультант зв'яжеться з вами в найближчий час.
    </div>
</div>
