@*------------------------------------------------------ ВКЛАДКА Новини*@
@model IQueryable<MainServiceItem>
@{
    TextField textField = ViewBag.TextField;

    ViewBag.Title = textField.MetaTitle;
    ViewBag.Description = textField.MetaDescription;
    ViewBag.Keywords = textField.MetaKeyWord;
}
@await Html.PartialAsync("IntroPartial")
<nav id="nav">
    <ul class="links">
        <li><a asp-area="" asp-controller="Home" asp-action="Index">Головна сторінка</a></li>
        <li><a asp-area="" asp-controller="Services" asp-action="Index" asp-route-id="">Курси</a></li>
        <li class="active"><a asp-area="" asp-controller="MainServices" asp-action="Index">Новини</a></li>
        <li><a asp-area="" asp-controller="Home" asp-action="Contacts">Контакти</a></li>
    </ul>
    <ul class="icons">
        @await Html.PartialAsync("SocialButtons")
    </ul>
</nav>
@await Html.PartialAsync("MainPostsPartial")
    

