@model ServiceItem
@{
    ViewBag.Title = Model.MetaTitle;
    ViewBag.Description = Model.MetaDescription;
    ViewBag.Keywords = Model.MetaKeyWord;
}
    <header id="header">
        <a href="/Home/Index" class="logo">@Config.CompanyName</a>
    </header>

    <nav id="nav">
        <ul class="links">
            <li><a asp-area="" asp-controller="Home" asp-action="Index">Головна сторінка</a></li>
            <li><a asp-area="" asp-controller="Services" asp-action="Index" asp-route-id="">Курси</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="Contacts">Контакти</a></li>
        </ul>
        <ul class="icons">
            <li><a href="#" class="icon brands fa-telegram"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
            @*<li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>*@
        </ul>
    </nav>
    <div id="main">
        <article>
            <header>
                <h2>
                    <div class="align-center">
                        <a href="#">
                            @Model.Title
                        </a>
                    </div>

                </h2>
            </header>
            <a href="#" class="image fit"><img src="~/images/@Model.TitleImagePath" alt="" /></a>
            <div>
                @Html.Raw(Model.Text)

            </div>
            <ul class="actions special">
                <li><a href="" class="button">Записатися</a></li>
            </ul>
        </article>
    </div>