!DOCTYPE HTML>

<html>
<head>
    @await Html.PartialAsync("MetaTagsPartial")
    @await Html.PartialAsync("CssPartial")
</head>
<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper" class="fade-in">

        <!-- Intro -->
        @await Html.PartialAsync("IntroPartial")

        <!-- Header -->
        <header id="header">
            @*<a href="" class="logo">Обрати курс</a>*@
            <a class="logo" asp-area="" asp-controller="Services" asp-action="Index">Обрати курс</a>
        </header>

        <!-- Navigation -->
        @await Html.PartialAsync("NavigationPartial")


        <!-- Main -->
        <div id="main">

            @RenderBody();

        </div>

        <!-- Footer -->
        @*await Html.PartialAsync("FooterPartial")*@


        <!-- Copyright -->
        <div id="copyright">
            <ul><li>&copy;2020 @Config.CompanyName</li></ul>
        </div>

    </div>

    @await Html.PartialAsync("ScriptsPartial")

</body>
</html>