<!-- Footer -->
<div id="footer-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <div id="copyright">
                    2020 &copy; @Config.CompanyName.
                </div>

            </div>
        </div>
    </div>
</div>