<div id="intro">

    <h1>
        Юридична освіта<br />
        це легко!
    </h1>
    <p>
        <a href="/Services">Двомісячний практичний курс</a> для практикуючих юристів,<br /> який дасть покрокову інструкцію в опануванні обраних вами юридичних тем.
    </p>
    <ul class="actions">
        <li><a href="#header" class="button icon solid solo fa-arrow-down scrolly">Continue</a></li>
    </ul>
</div>
<header id="header">
    <a asp-area="" asp-controller="Home" asp-action="Index" class="logo">@Config.CompanyName</a>
</header>
