<div id="main">
    <div class="align-center">
        <h2>Не знаєте, який курс обрати?</h2>
        <p class="align-center">Залиште свої дані і ми допоможемо обрати курс</p>
    </div>
    
</div>
<footer id="footer">
    <section>
        <form asp-controller="Home" asp-action="SendForm" method="post" enctype="multipart/form-data">
            <div class="fields">
                <div class="field">
                    <label for="name">Ім'я</label>
                    <input type="text" name="name" id="name" />
                </div>
                <div class="field">
                    <label for="email">Email</label>
                    <input type="text" name="email" id="email" />
                </div>
                <div class="field">
                    <label for="phoneNumber">Номер телефону</label>
                    <input type="text" name="phoneNumber" id="phoneNumber" />
                </div>
                <div class="field">
                    <label for="message">Повідомлення(За бажанням)</label>
                    <textarea name="message" rows="2"></textarea>
                </div>
            </div>
            <ul class="actions">
                <li>
                    <input type="submit" value="Отримати консультацію" />
                </li>
            </ul>
        </form>
    </section>
    <section class="split contact">
        <section class="alt">
            <h3>Адреса</h3>
            <p>
                Львів, пл. Ринок, 1
            </p>
        </section>
        <section>
            <h3>Телефон</h3>
            <p><a href="#">@Config.CompanyPhone</a></p>
        </section>
        <section>
            <h3>Email</h3>
            <p><a href="#">@Config.CompanyEmail</a></p>
        </section>
        <section>
            <h3>Соц. кнопки</h3>
            <ul class="icons alt">
                @await Html.PartialAsync("SocialButtons")
                @*<li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>*@
            </ul>
        </section>
    </section>
</footer>