<footer id="footer">
    <section>
        <form method="post" action="#">
            <div class="fields">
                <div class="field">
                    <label for="name">Ім'я</label>
                    <input type="text" name="name" id="name" />
                </div>
                <div class="field">
                    <label for="email">Email</label>
                    <input type="text" name="email" id="email" />
                </div>
                <div class="field">
                    <label for="message">Повідомлення</label>
                    <textarea name="message" id="message" rows="3"></textarea>
                </div>
            </div>
            <ul class="actions">
                <li><input type="submit" value="Надіслати" /></li>
            </ul>
        </form>
    </section>
    <section class="split contact">
        <section class="alt">
            <h3>Адреса</h3>
            <p>
                Львів, пл. Ринок, 1
            </p>
        </section>
        <section>
            <h3>Телефон</h3>
            <p><a href="#">@Config.CompanyPhone</a></p>
        </section>
        <section>
            <h3>Email</h3>
            <p><a href="#">@Config.CompanyEmail</a></p>
        </section>
        <section>
            <h3>Соц. кнопки</h3>
            <ul class="icons alt">
                @await Html.PartialAsync("SocialButtons")
                @*<li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>*@
            </ul>
        </section>
    </section>
</footer>